<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-select placeholder="Category" [(ngModel)]="category" (ionChange)="catClicked()">
        <ion-option *ngFor="let cat of categories">{{ cat }}</ion-option>
      </ion-select>
    </ion-item>
  </ion-card>
  
  <ion-card>
      <ion-select [(ngModel)]="subcategoryvar" placeholder="Subcategory..." disabled = false (ionChange) = "subcatChanged()">
        <ion-option *ngFor="let subcategory of subcategories">{{ subcategory }}</ion-option>
      </ion-select>
  </ion-card>
</ion-content>