page-details {
    ion-content{
        background-color: burlywood !important;
    }
    ion-card ion-item ion-select{
        max-width: 100% !important;
        width: 100%;
        background: khaki !important;
    }
    ion-item{
        background: khaki !important;
    }
    ion-card ion-item ion-badge{
        background: purple !important;
    }
}
